@media screen and (max-width: 600px) {
    header, menu {
        flex-flow: column nowrap;
    }

    header > h1 {
        flex-basis: 40px;
    }
    
    menu > li {
        width: 90vw;
        margin: 5px 5px 0px 5px;
    }
}