@media screen and (min-width: 600px) {
    main {
        width: 600px;
    }

    #hamburguer {
        display: none;
    }
    
    nav {
        display: block !important;
    }

    nav a {
        display: inline-block;
    }
}