@media screen and (min-width: 600px) {
    main {
        width: 600px;
    }

    #hamburguer {
        display: none;
    }
    
    nav {
        display: block;
    }

    nav a {
        display: inline-block;
        background-color: rgb(90, 90, 90);
        color: white;
        text-decoration: none;
        text-align: justify;
        padding: 5px;
    }

}