* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100vh;
} 

body {
    background-color: lightgray;
}

header {
    background-color: gray;
    padding-bottom: 5px;
}

header h1 {
    text-align: center;
    padding: 10px;
}

div {
    background-color: rgb(66, 66, 66);
    padding: 5px;
    text-align: center;
}

nav {
    display: none;
}

nav a {
    display: block;
    background-color: rgb(90, 90, 90);
    color: white;
    padding: 10px;
    text-decoration: none;
}

div:hover {
    nav {
        display: block;
    }
}

nav a:hover {
    background-color: rgb(61, 61, 61);
}

main {
    background-color: white;
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

main > p {
    text-indent: 30px;
    padding: 10px;
}
